<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= pessoa.idade %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pessoa.email %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= pessoa.enderecoL1 %>
  </p>

  <p>
    <strong>Numero da casa:</strong>
    <%= pessoa.numCasa %>
  </p>

</div>
