<p style="color: green"><%= notice %></p>


<div>

<%= react_component("EuSouLindo", { pessoa: @pessoa}) %>

  <%= link_to "Editar essa pessoa", edit_pessoa_path(@pessoa) %> |
  <%= link_to "Voltar", pessoas_path %>

  <%= button_to "Apagar essa pessoa", @pessoa, method: :delete %>
</div>
