<div id="<%= dom_id membro %>">
  <p>
    <strong>Nome Completo:</strong>
    <%= membro.NomeCompleto %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= membro.DataNascimento %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= membro.Endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= membro.telefone %>
  </p>

  <p>
    <strong>Área:</strong>
    <%= membro.Area %>
  </p>

</div>
