<div id="<%= dom_id membro %>">
  <p>
    <strong>Nomecompleto:</strong>
    <%= membro.NomeCompleto %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= membro.DataNascimento %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= membro.Endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= membro.telefone %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= membro.Area %>
  </p>

</div>
